.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #b1f9b1;
  padding: 0 10%;
}

.logo {
  font-size: 2rem;
  color: rgb(46, 104, 170);
  font-weight: bold;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header li {
  margin-left: 3rem;
}

.header a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 550;
  color: #51b130;
}

.header a:hover,
.header a:active,
.header a.active {
  color: white;
}

.header button {
  font: inherit;
  cursor: pointer;
  color: rgb(46, 104, 170);
  border: 1px solid #b1f9b1;
  background-color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  font-weight: bold;
  /* margin-left: 15rem; */
}

.header button:hover,
.header button:active {
  background-color: hsla(105, 67%, 66%, 0.878);
}
